Package: com.gabry3795.wifibars
Name: WiFi Bars
Version: 2.0.0
Architecture: iphoneos-arm
Description: Bars for WiFi signal
Homepage: http://www.tuttodinternet.com
Maintainer: gabry3795
Author: gabry3795 < gabry.gabry@hotmail.it >
Section: Themes
Depends: winterboard
